table col:not(:first-of-type),table colgroup:not(:first-of-type){border-left:1px solid red;}
table col:not(:first-of-type){border-color:#d3d3d3;}
table colgroup:not(:first-of-type){border-color:#808080;}
table thead{border-bottom:1px solid #808080;}
table tbody tr th,table tbody tr td{vertical-align:top;}
table tbody tr th{text-align:left;}
table tbody tr td textarea{margin-top:0;}
table.survey th,table.survey td{min-width:3em;padding:0.5em;}
table.survey tbody tr td{text-align:center;}table.survey tbody tr td label{display:block;margin:0;padding:0;background:transparent !important;}
header{margin-bottom:1em;border-bottom:1px solid #eeeeee;text-align:center;}header h1{margin:0;}
footer{margin-top:3em;border-top:1px solid #eeeeee;}
.quiet{color:#999999;}
h1,h2,h3,h4{margin-top:1.5em;}
form.form-vertical fieldset{margin-top:1.5em;}form.form-vertical fieldset legend{line-height:1.2em;}
form.form-vertical label+p{margin-top:1.5em;}
form.form-vertical p+p{margin-top:1em;}
form.form-vertical label,form.form-vertical span{vertical-align:text-top;}
form.form-vertical em.note{display:block;}
form.form-vertical label{padding:0.4em;}form.form-vertical label:nth-child(odd){background-color:#f3f3f3;}
form.form-vertical label:nth-child(even){background-color:#f9f9f9;}
form.form-vertical label:nth-child(odd) label,form.form-vertical label:nth-child(even) label{background-color:transparent;}
form.form-vertical .columns input:not([type=checkbox]):not([type=radio]),form.form-vertical .columns textarea{width:95%;}
form.form-vertical input:not([type=checkbox]):not([type=radio]),form.form-vertical select{width:290px;}
form.form-vertical textarea{width:450px;min-height:6em;}
form.form-vertical table input:not([type=checkbox]):not([type=radio]),form.form-vertical table textarea,form.form-vertical table select{width:130px;}
form.form-vertical input[type=checkbox],form.form-vertical input[type=radio]{vertical-align:text-top;display:inline-block;width:2em;}
form label.inline{display:inline;}
form textarea{height:4.7em;}form textarea.short{height:2.7em;}
form textarea.tall{height:8.7em;}
form .ui-state-error{color:#b94a48;border-width:1px;border-color:#b94a48;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 3px rgba(255, 0, 0, 0.6);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 3px rgba(255, 0, 0, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 3px rgba(255, 0, 0, 0.6);}form .ui-state-error:before{vertical-align:text-top;display:inline-block;float:right;text-align:right;content:"\0026A0";}
p.before-list{margin-bottom:0;}
.nobr{white-space:nowrap;}
.shared-field{color:#ff0000;}.shared-field:after{content:" ";}
.dev-include{border:1px solid #ff0000;margin:1px;padding:1px;border-radius:5px;}
.columns{-moz-column-gap:20px;-webkit-column-gap:20px;column-gap:20px;-moz-column-rule-color:#eeeeee;-webkit-column-rule-color:#eeeeee;column-rule-color:#eeeeee;-moz-column-rule-style:solid;-webkit-column-rule-style:solid;column-rule-style:solid;-webkit-column-rule-width:1px;-moz-column-rule-width:1px;column-rule-width:11px;}.columns.two{-moz-column-count:2;-webkit-column-count:2;column-count:2;}
.columns.three{-moz-column-count:3;-webkit-column-count:3;column-count:3;}
.tabbable.tabs-left .nav.nav-tabs .active a{background-image:-o-linear-gradient(left, #f3f3f3 0%, #ffffff 100%);background-image:-moz-linear-gradient(left, #f3f3f3 0%, #ffffff 100%);background-image:-webkit-linear-gradient(left, #f3f3f3 0%, #ffffff 100%);background-image:-ms-linear-gradient(left, #f3f3f3 0%, #ffffff 100%);background-image:-webkit-gradient(linear, left top, right top, color-stop(0.75, #f3f3f3), color-stop(1, #ffffff));background-image:linear-gradient(left, #f3f3f3 0%, #ffffff 100%);border-right-color:#ffffff;}
.tabbable.tabs-left .nav.nav-tabs .descriptive-header{display:none;}
.tab-content .tab-pane>h2:first-child{margin-top:0;}
.tab-next-previous-navigation .previous,.tab-next-previous-navigation .next{margin-right:1em;}
